<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

</style>

<select id="year">
  <option value="2009">2009</option>
  <option value="2010">2010</option>
  <option value="2011">2011</option>
  <option value="2012">2012</option>
  <option value="2013">2013</option>
  <option value="2014">2014</option>
  <option value="2015">2015</option>
  <option value="2016">2016</option>
</select>

<svg width="960" height="500"></svg>
<img src="static/img/2009_Income_Graph.jpg" width="900"><br>
<img src="static/img/2010_Income_Graph.jpg" width="900"><br>
<img src="static/img/2011_Income_Graph.jpg" width="900"><br>
<img src="static/img/2012_Income_Graph.jpg" width="900"><br>
<img src="static/img/2013_Income_Graph.jpg" width="900"><br>
<img src="static/img/2014_Income_Graph.jpg" width="900"><br>
<img src="static/img/2015_Income_Graph.jpg" width="900"><br>
<img src="static/img/2016_Income_Graph.jpg" width="900"><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
function renderBarGraph(year) {
  var svg = d3.select("svg"),
      margin = {top: 20, right: 20, bottom: 100, left: 50},
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom;

  var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
      y = d3.scaleLinear().rangeRound([height, 0]);

  var g = svg.append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.csv("static/datasets/2009_2016_LACounty_Data.csv", function(d) {
    d[year] = +d[year];
    return d;
  }, function(error, data) {
    if (error) throw error;

    x.domain(data.map(function(d) { return d.City; }));
    y.domain([0, 250000]);

    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .selectAll("text")
        .attr("dx", "-6em")
        .attr("dy", "-.7em")
        .attr("transform", function(d) {
          return "rotate(-90)"
        });

    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .text("Frequency");

    g.selectAll(".bar")
      .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.City); })
        .attr("y", function(d) { return y(d[year]); })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return height - y(d[year]); });
  });
}

renderBarGraph("2009");

$('#year').change(function() {
  renderBarGraph(this.value);
})
</script>
