<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
	 <link href='style.css' rel='stylesheet'>
	<title>Project 2:Home Page</title>
</head>
<body>
	<div class ='container'>
		<div class = 'row'>
			<h1 align='center'> Project Title </h1>
			<hr>
			<p align ='center'> this is where we will briefly explain the project blahblahblah </p>
		</div>

		<br>
		<br>

		<div class = 'container'>
			<div class ='row'>
				<div class = 'col-sm-3 text-right'>
					<a href="view1.html" target='_blank' class="btn btn-info" role="button">View 1</a>
				</div>
				<div class = 'col-sm-3 text-right'>
					<a href="view2.html" target='_blank' class="btn btn-info" role="button">View 2</a>
				</div>
				<div class = 'col-sm-3 text-right'>
					<a href="view2.html" target='_blank' class="btn btn-info" role="button">View 3</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>