<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Migration Layer</title>
    <link rel="stylesheet" href = "../static/lib/leaflet.css" />
    <link rel="stylesheet" href= "../static/css/migration.css"/>
    <style>
    html,body{
        margin: 0;
        padding: 0;
    }
    #map{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    #correlate{
        z-index: 2000;
        background-color: rgba(155, 238, 260, 0.5);
        position: absolute;
        width: 50%;
        height: 40%;
        right: 100px;
        top: 50px;
    }
    </style>
</head>

<body>
    <div>
        <!--<div id="correlate"></div>-->
        <div id="map"></div>
    </div>
    <div id='event'>
        <div class="btn_grp">
            <div class="dropup">
            <button class="dropbtn">Top 10 (CA only)</button>
            <div class="dropup-content">
                <a id= 0 href="#" onclick="optionChanged(this.id)">CA only</a>
                <a id= 1 href="#" onclick="optionChanged(this.id)">CA excluded</a>
                <a id= 2 href="#" onclick="optionChanged(this.id)">Correlations</a>
            </div>
            </div>
            <div class="dropup">
            <button class="dropbtn">By Ethincity</button>
                <div class="dropup-content">
                <a id= 10 href="#" onclick="optionChanged(this.id)">Asian</a>
                <a id= 11 href="#" onclick="optionChanged(this.id)">Black</a>
                <a id= 12 href="#" onclick="optionChanged(this.id)">Hispanic</a>
                <a id= 13 href="#" onclick="optionChanged(this.id)">White</a>
            </div>
        </div>
    </div>
    
    <script src="../static/lib/leaflet.js"></script>
    <script src='../static/src/src.js'></script>
    <script src="../static/script/route_dict.js"></script>
    <script src="../static/script/migration.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        var lrmap = L.map('map').setView([35, -95], 5);
        L.tileLayer("https://api.tiles.mapbox.com/v4/mapbox.dark/{z}/{x}/{y}.png?" +
                "access_token=pk.eyJ1Ijoia2pnMzEwIiwiYSI6ImNpdGRjbWhxdjAwNG0yb3A5b21jOXluZTUifQ." +
                "T6YbdDixkOBWH_k9GbS8JQ").addTo(lrmap);

        var data = route_dict;

        var migrationLayer = new L.migrationLayer({
            map: lrmap,
            data: data,
            pulseRadius:30,
            pulseBorderWidth:3,
            arcWidth:1,
            arcLabel:true,
            arcLabelFont:'10px sans-serif',
            }
        );
        migrationLayer.addTo(lrmap);

        function setData(){
            migrationLayer.setData(data2);
        }
        function hide(){
            migrationLayer.hide();
        }
        function show(){
            migrationLayer.show();
        }
        function play(){
            migrationLayer.play();
        }
        function pause(){
            migrationLayer.pause();
        }
        function destroy() {
            migrationLayer.destroy();
        }
    </script>
</body>

</html>